@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --green-light: #69807a;
    --green-dark: #476c5e;
    --white-basic: #ffffff;
    --gray-basic: #f0f2f1;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    display: flexbox;
}

body {
    background-color: var(--green-light);
}

header {
    width: auto;
    height: 10vh;
    position: sticky;
    position: relative;
}

.header-logo-image {
    width: 10vh;
    height: 6vh;
    margin-top: -1vh;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5vh;
    padding: 4vh;
    color: var(--white-basic);
}

nav p {
    cursor: pointer;
    height: 2vh;
}

nav p,
img:hover {
    cursor: pointer;
    color: var(--gray-basic);
}
