@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --green-light: #69807a;
    --green-dark: #476c5e;
    --white-basic: #ffffff;
    --gray-basic: #f0f2f1;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    display: flexbox;
}

body {
    background-color: var(--green-light);
}

header {
    width: auto;
    height: 10vh;
    position: sticky;
}

.header-logo-image {
    width: 10vh;
    height: 6vh;
    margin-top: -1vh;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5vh;
    padding: 4vh;
    color: var(--white-basic);
}

nav a {
    cursor: pointer;
    height: 2vh;
}

nav a,
img:hover {
    cursor: pointer;
    color: var(--gray-basic);
    text-decoration: none;
}
footer {
    background-color: var(--white-basic);
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 50px 10px;
    position: relative;
}

footer img {
    align-self: center;
}
.services-footer a,
.fast-links-footer a {
    text-decoration: none;
    color: var(--green-light);
}
.services-footer,
.fast-links-footer,
.contact-footer {
    display: flex;
    flex-direction: column;
    color: var(--green-light);
    gap: 20px;
}

.contact-footer i {
    width: 20px;
    margin-right: 10px;
}
